button{
    margin: 10px;
    width: 40%;
    height: 30px;
    background-color: red;
    color: white;
}

p {
    font-size: 20px;
    margin: 15px;
}

div{
    display: inline-block;
}

div.board{
    width: 325px;
    height: 350px;
    margin: 10px;
}

div.info{
    width: 100%;
    margin: 5px;
    display: inline-grid;
}