<div *ngFor="let board of boards | keyvalue" class="board">
    <app-board [numbers]=board.value [boardIndex]=board.key (deleteBoard)="onBoardDeleteHandler($event)" (cellClickedOnBoard)="onBoardCellClickedHandler($event)" ></app-board>
</div>

<div class="info">
    <div class="center">
        <button (click)="checkBoards()">Play</button>
    </div>
</div>
<div class="info">
    <div *ngFor="let boardText of boardTexts" class="center">
        <p *ngIf="!boardText.includes('Empty')">{{boardText}}</p>
    </div>
</div>