button{
    height: 30px;
    background-color: red;
    color: white;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

div{
    display: inline-block;
}

div.board{
    width: 325px;
    height: 350px;
    margin: 10px;
}

div.info{
    width: 100%;
}

div.center{
    margin: 0 auto;
    display: table;
    width: 50%;
}