button{
    background-color: transparent;
    color: red;
    height: 35px;
    width: 75px;
    margin: 5px;
    border: none;
}

label{
    font-weight: bold;
}

.left{
    float: left;
}

.right{
    float: right;
}

.table{
    width: 25%;
}

div.header{
    display: inline-block;
    width: 100%;
}

div.cells{
    height: 350px;
}

#background {
    color: #999999;
    font-size: 300px;
    padding: auto;
    z-index: -1;
    position: absolute;
    top: 0;
    font-size: 400px;
 }