button{
    background-color: transparent;
    color: red;
    height: 35px;
    width: 75px;
    margin: 5px;
    border: none;
}

label{
    font-weight: bold;
}

.left{
    float: left;
}

.right{
    float: right;
}

.table{
    width: 25%;
}

div.header{
    display: inline-block;
    width: 100%;
}

div.cells{
    height: 350px;
}

#background {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
 }