button {
    width:13%;
    height: 13%;
    border: 3px red solid;
    text-align: center;
    background-color: transparent;
    color: red;
    margin: 2px;
}

.selected{
    background-color: rgb(68, 223, 135);
}